body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(160, 161, 161, 0.055);
}

.header {
    color: #fff;
    padding: 20px;
    text-align: center;
    background: linear-gradient(28deg, rgba(255, 239, 51, 0.8463760504201681) 0%, rgba(218, 75, 44, 1) 47%, rgba(94, 0, 0, 1) 100%);
    margin-bottom: 20px;
}

.radio-input input {
    display: none;
}

.radio-input {
    --container_width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 0.226);
    justify-content: center;
}

.radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 2);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
}

.radio-input label:has(input:checked) {
    color: #fff;
}

.radio-input label:has(input:checked)~.selection {
    background: linear-gradient(28deg, rgba(255, 239, 51, 0.8463760504201681) 0%, rgba(218, 75, 44, 1) 47%, rgba(94, 0, 0, 1) 100%);
    display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked)~.selection {
    transform: translateX(calc(var(--container_width) * 0/2));
}

.radio-input label:nth-child(2):has(input:checked)~.selection {
    transform: translateX(calc(var(--container_width) * 1/2));
}

.eita {
    justify-content: center;
    display: flex;
    align-items: center;
}

.ui {
    opacity: 0.1;
    justify-content: center;
    display: flex;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

/* Estilos para telas pequenas (exemplo: smartphones) */
@media (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .logged-in-user {
        font-size: 16px;
    }

    .gif {
        height: 30px;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .search-input {
        width: 100%;
        max-width: none;
        border-radius: 5px;
        margin: 0;
    }

    .search-button {
        width: 100%;
        border-radius: 5px;
    }

    .search-button:hover {
        background-color: #e74c3c;
    }}

    /* Estilos para telas médias e maiores (exemplo: tablets, desktops) */
    @media (min-width: 769px) {

        /* Adicione margin-left: 20px; */
        .search-container {
            flex-direction: row;
            margin-left: 20px;
        }

        /* Adicione width: 190px; e max-width: 190px; */
        .search-input {
            width: 190px;
            max-width: 190px;
        }
    }